:host{
  display: flex;
  width: 10vw;
  user-select: none;

  h4{
    font-size: 1rem;
    margin-bottom: 2vh;
  }
  img{
    margin-left: 15px;
    height: 20px;
    transition: all 200ms ease;

    &.SortUp{
    }
    &.SortDown{
      transform: rotate(180deg);
    }
  }
}
