<div class="table-headers">
  <app-table-header title="Имя"/>
  <app-table-header title="Номер"/>
  <app-table-header title="Абонемент"/>
  <app-table-header title="Последнее посещение"/>
</div>
<hr>

<div class="table-rows">
  <div class="table-row" *ngFor="let client of users$ | async">
    <div class="data">
      <h5 class="roboto-light">{{ client.surname + " " + client.name }}</h5>
      <h5 class="roboto-light">{{ client.patronomic }}</h5>
      <h5 class="roboto-light"></h5>
      <h5 class="roboto-light"></h5>
    </div>
    <hr>
  </div>

</div>
