<div class="table-headers">
  <app-table-header title="Имя"/>
  <app-table-header title="Номер"/>
  <app-table-header title="Абонемент"/>
  <app-table-header title="Последнее посещение"/>
</div>
<hr>

<div class="table-rows">
  <div class="table-row" *ngFor="let client of this.Clients;"
                          (dblclick)="this.UserSelected(client)">
    <div class="data">
      <h5 class="roboto-light">{{ client.Surname + " " + client.Name }}</h5>
      <h5 class="roboto-light">{{ client.Phone }}</h5>
      <h5 class="roboto-light"
          [ngClass]="{'NotActive' : !client.HasActiveSubscription,
        'Active': client.HasActiveSubscription}">
        {{ client.HasActiveSubscription ? 'Активен' : 'Не активен'}}
      </h5>
      <h5 class="roboto-light">{{ client.LastVisit | date:'dd-mm-yyyy hh:mm' }}</h5>
    </div>
    <hr>
  </div>

</div>
