<h2 class="roboto-regular">Карта клиента:</h2>

<form action="">
  <label for="Name">Имя:</label>
  <input type="text" id="Name">

  <label for="Surname">Фамилия:</label>
  <input type="text" id="Surname">

  <label for="Patronymic">Отчество:</label>
  <input type="text" id="Patronymic">

  <label for="CardNumber">Номер карты:</label>
  <input type="text" id="CardNumber">

  <label for="PhoneNumber">Номер телефона:</label>
  <input type="tel" id="PhoneNumber">

  <label for="Email">Email:</label>
  <input type="email" id="Email">

  <label for="DateOfBirth">Дата рождения:</label>
  <input type="date" id="DateOfBirth">


  <div class="user-deposit">
    <h4 class="roboto-light">Баланс:</h4>
    <div class="deposit-value">
      <h4 class="roboto-light">value</h4>
      <button>Пополнить</button>
    </div>
  </div>


  <h4>История:</h4>
  <input type="text" id="UserStory">

  <button>Сохранить</button>
  <button>Удалить клиента</button>
</form>



