<h2 class="roboto-regular">Карта клиента:</h2>

<form class="user-form" [formGroup]="UserFormGroup" >
  <div class="input-field">
    <label for="Name" class="roboto-light">Имя:</label>
    <input type="text" id="Name" formControlName="Name" [ngModel]="ActiveUser?.Name ?? ''">
  </div>

  <div class="input-field">
    <label for="Surname" class="roboto-light">Фамилия:</label>
    <input type="text" id="Surname" formControlName="Surname" [ngModel]="ActiveUser?.Surname ?? ''">
  </div>

  <div class="input-field">
    <label for="Patronymic" class="roboto-light">Отчество:</label>
    <input type="text" id="Patronymic" formControlName="Patronymic">
  </div>

  <div class="input-field">
    <label for="CardNumber" class="roboto-light">Номер карты:</label>
    <input type="text" id="CardNumber" formControlName="CardNumber">
  </div>

  <div class="input-field">
    <label for="PhoneNumber" class="roboto-light">Номер телефона:</label>
    <input type="tel" id="PhoneNumber" formControlName="PhoneNumber" [ngModel]="ActiveUser?.Phone ?? ''">
  </div>

  <div class="input-field">
    <label for="Email" class="roboto-light">Email:</label>
    <input type="email" id="Email" formControlName="Email">
  </div>

  <div class="input-field">
    <label for="DateOfBirth" class="roboto-light">Дата рождения:</label>
    <input type="date" id="DateOfBirth" formControlName="DateOfBirth">
  </div>


  <div class="user-deposit">
    <h4 class="roboto-light">Баланс:</h4>
    <div class="deposit-value">
      <h4 class="roboto-light">value</h4>
      <button class="roboto-regular">Пополнить</button>
    </div>
  </div>

  <div class="user-history">
    <h4 class="roboto-regular">История:</h4>
    <textarea readonly id="UserStory"></textarea>
  </div>

  <div class="button-group">
    <button class="roboto-regular">Сохранить</button>
    <button class="Red roboto-regular">Удалить клиента</button>
  </div>
</form>
