:host{
  display: grid;
  grid-template-areas:
      "H H H H H H H H H H"
      "S T T T T T T T T M"
      "S T T T T T T T T M"
      "S T T T T T T T T M";

  app-header{
    grid-area: H;
    margin-bottom: 4vh;
  }
  app-user-search{
    grid-area: S;
    margin: 0 auto;
    width: 70%;
  }
  app-clients-table{
    grid-area: T;
  }
  app-slide-menu{
    grid-area: M;
    max-width: 30vw;
  }
}

